.botones_juego {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -130%);
  justify-content: center;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.descartar {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: #ad4e00;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.jugar {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: #3f6600;
  border-radius: 5px;
  float: left;
}

.elegir_jugador {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: #3f6600;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}