.crear_partida {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border: solid 2px black;
}

.miboton {
  position: relative;
  height: 5%;
  width: 20%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
}