.abrir_chat{
    position: fixed;
    top: 20px;
    right: 20px;
}

.cerrar_chat{
    top: 0px;
    right: 10px;
}

.hidden{
    display: none;
}

.modal_chat{
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 20.5%;
    height: 99.2%;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
    overflow: 'auto';
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.titulo_chat{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.chat{
    border: 2px solid black;
    height: 79vh;
    width: 95%;
    margin-left: 5px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: -20px;
    overflow-y: scroll;    
}

.mensajes{
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

/* Para WebKit (Google Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
}

/* Agrega un color de fondo a la pista de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
