.boton_iniciar{
  width: 35%;
}

.boton_abandonar{
  width: 35%;
}

.listajugadores {
  list-style-type: none;
  margin-left: 10%;
}

.tituloLobby {
  text-align: center;
}

.modal {
  position: relative;
  top: 10%;
  left: 25%;
  height: 75%;
  width: 50%;
  color: rgb(255, 255, 255);
  background: #263ea0;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
