.botones_juego {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -130%);
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.descartar {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: rgb(200, 50, 50);
  border-radius: 5px;
  margin-right: 260px;
}

.elegir_carta {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: rgb(20, 120, 20);
  border-radius: 5px;
}

.elegir_jugador {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: rgb(20, 120, 20);
  border-radius: 5px;
  margin-left: 260px;
}
