.botones_juego {
    position: absolute;
    left: 60%;
    bottom: 60%;
}

.jugar {
    width: 200px;
    height: 50px;
    font-size: large;
    background-color: rgb(20, 120, 20);
    border-radius: 5px;
}