.boton_finalizar {
  position: fixed;
  bottom: 10px;
  left: 10px; /* Cambiado de right a left */
  width: 150px;
  height: 45px;
  font-size: large;
  background-color: var(--color-bottom-game-positive);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

