.jugadores {
    font-size: 80% !important;
    color:green !important;
  }

  .partidas {
    font-size: 120% !important;
    color: black !important;
  }

.boton_actualizar {
  margin-left: 62% !important;
  height: 5%;
  width: 20%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
}

.boton_cancelar {
  height: 20%;
  width: 15%;
  left: 4%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
}

.componentes {
 display: flex;
}

.listapartidas {
  list-style-type: none;
}

.listar_partidas {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border: solid 2px black;
}

.modal_partida {
  position: relative;
  top: 30%;
  left: 25%;
  width: 50%;
  height: auto;
  color: rgb(255, 255, 255);
  background: #263ea0;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  padding: 10px;
}

.boton_unirse{
  height: 5%;
  width: 20%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
}