.unir_jugador {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.boton_unir {
  position: relative;
  left: 0.5%;
  color: rgb(255, 255, 255);
  background-image: var(--color-bottom-action);
}

.textfield_unir {
  color: white;
  background-color: var(--color-background-no-gradient);
}