* {
  margin: 0px;
}

body {
  height: 100vh;
  background: var(--color-background-gradient);
}

.titulo {
  text-align: center;
  border-bottom: 3px solid;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
