.crear_partida {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border: solid 2px black;
}
.miboton {
  position: relative;
  height: 5%;
  width: 20%;
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 17px;
  padding: 12px;
  border-radius: 8px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #1c6ea4;
}
.myButton:active {
  background: #252526;
}

.nombrepartida {
  position: relative;
  top: 10%;
}

.maxjugadores {
  position: relative;
  bottom: 100%;
}

.modal {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 30%;
  width: 25%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(77, 22, 179) 0%,
    rgb(94, 41, 192) 50%,
    rgb(115, 60, 216) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
